.landing {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #161616;
    /* background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
}

.landing__background-image {
    height: 100vh;
}

.landing__logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    height: 200px;
    border-radius: 100%;
}

.landing__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing__content h1 {
    border: 0.05em solid #ffffff;
    padding: 10px 20px;
    font-family: 'Bungee Hairline', cursive;
    font-weight: 600;
    font-size: 5vw;
    text-align: center;
    color: #fafafa;
    margin: 30px;
}

.landing__background--right {
    position: absolute;
    right: 0;
    top: 0;
}

.landing__background--left {
    position: absolute;
    left: 0;
    top: 0;
}

.landing__gradient--left {
    height: 100vh;
    width: 500px;
    background: rgb(22, 22, 22);
    position: absolute;
    right: 0;
    background: linear-gradient(270deg, rgba(22, 22, 22, 1) 0%, rgba(22, 22, 22, 0) 100%);
}

.landing__gradient--right {
    height: 100vh;
    width: 500px;
    background: rgb(22, 22, 22);
    position: absolute;
    background: linear-gradient(90deg, rgba(22, 22, 22, 1) 0%, rgba(22, 22, 22, 0) 100%);
}

.landing__image {
    border-radius: 15px;
    height: 300px;
    width: 300px;
    -webkit-font-smoothing: antialiased;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
    margin-bottom: 20px;
    box-shadow: 1px 13px 33px 0px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 1px 13px 33px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 1px 13px 33px 0px rgba(0, 0, 0, 0.28);
}

@media all and (max-width: 30em) {
    .landing a {
        display: block;
        margin: 0.4em auto;
    }
}

.landing a.button2 {
    font-size: 20px;
    display: inline-block;
    padding: 0.5em 3em;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    transition: all 0.15s;
}

.landing a.button2:hover {
    color: #dddddd;
    border-color: #dddddd;
}

.landing a.button2:active {
    color: #bbbbbb;
    border-color: #bbbbbb;
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1.3);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}
